{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="the draw lessons of mantras for women">
  <meta name="keywords" content="lesson, women, mantra, drawing">
  <title>{% block title %}{% endblock %}</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
  <!-- OG Tags -->
  <meta property="og:title" content="Mantra_Drawing">
  <meta property="og:description" content="the way to keep calm and relax by draw lessons of mantras for women">
  <meta property="og:image" content="{% static 'img/favicon.ico'%}">
  <meta property="og:site_name" content="MantraDrawing">
  <!-- Font-Awesome -->
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
  <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
  <!-- Font-Awesome 4.7.0 -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
  <!-- Bootstrap Reboot CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css'%}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <!----Slick-Slider---->
  <link rel="stylesheet" href="{% static 'css/slick.css'%}">
  <link rel="stylesheet" href="{% static 'css/slick-theme.css'%}">
  <!-- Main CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    {% block content%} {% endblock %}
</body>
</html>